{% extends 'scripts.html' %}
{% block content %}

<!DOCTYPE html>
<meta viewport="width=device-width, initial-scale=1.0">
<html lang="{{ user_language }}">
<head>
  <title>Hangman Game</title>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2749310903595106"
     crossorigin="anonymous"></script>
     
     
<script>
window.clarity("identify", "{{ username }}")
</script>


</head>
<body>
  <div class="container">
    <div class="header d-flex justify-content-between align-items-center">
      <div class="username">{{ username }}</div>
      <button class="btn btn-primary" onclick="location.href='{{ url_for('logout') }}'">Logout</button>
      <div class="language-switcher">
        <p>Change language:</p>
        <form method="post" id="language-form" action="{{ url_for('set_language') }}">
          <select name="language" onchange="verify_selection();" class="form-control">
            {% for language in all_languages %}
              <option value="{{ language }}" {% if language == user_language %}selected{% endif %}>{{ language }}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
      </div>

      <div class="user-language">
        Your selected language: <br>
        <img src="https://flagsapi.com/{{user_language| replace('en','GB') | upper}}/shiny/64.png">
        {% if user_language == 'en' %}
        <img src="https://flagsapi.com/US/shiny/64.png">
        {% endif %}
      </div>

      <div class="toggle-dark-mode">
        <form action="{{ url_for('dark_mode') }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          {% if dark_mode %}
          <button type="submit" name="dark_mode" value="dark_mode" class="btn btn-light">Light Mode</button>
          {% else %}
          <button type="submit" name="dark_mode" value="dark_mode" class="btn btn-dark">Dark Mode</button>
          {% endif %}
        </form>
      </div>
    </div>

    <div class="game-area">
      <div class="hangman-table">
        <div class="row">
          <div class="col-6">
            <img src="{{drawing}}" alt="Hangman" class="hangman-image" width="100%">
            <br>
  
            {% for letter in word %}
              {{ letter if letter in letters_guessed else '_' }}
            {% endfor %}
          </div>
          <div class="col-6">
            <form method="post" id="game-form-Big">
              {% for letter in letters %}
                {% if letter | lower not in letters_guessed %}
                  <button type="submit" name="letter" value="{{ letter }}" class="btn btn-primary">{{ letter }}</button>
                {% else %}
                {% if letter | lower in word | lower and letter | lower in letters_guessed %} <!-- if the letter is in the word and has been guessed -->
                  <button type="submit" name="letter" value="{{ letter }}" disabled class="btn btn-success">{{ letter }}</button>
                {% elif letter |lower not in word | lower and letter | lower in letters_guessed %}
                  <button type="submit" name="letter" value="{{ letter }}" class="btn btn-danger disabled" disabled>{{ letter }}</button>
                {% else %}
                  <button type="submit" name="letter" value="{{ letter }}" disabled>{{ letter }}</button>
                {% endif %}
                {% endif %}
              {% endfor %}
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <div class="score-board">
      <h3>Score: {% for name in leaderboard %}
        {% if name.username == username %}
          {{ name.score }}
        {% endif %}
      {% endfor %}</h3>
    </div>

    <div class="leaderboard">
      <h2>Leaderboard</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          {% for user in leaderboard %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <a href="#" id="open-preferences-center">Cookie-Einstellungen</a>
  </div>
</body>
</html>


<script>
  function verify_selection() {
    // Ask the user if they are sure to change the language because the game will be restarted and the progress will be lost.
    var r = confirm("Are you sure you want to change the language? The game will be restarted and your progress will be lost.");
    if (r == true) {
      document.getElementById("language-form").submit();
    } else {
      document.getElementById("language-form").reset();
    }
  }
</script>

<script>
function isLetter(str) {
  
  
return str.length === 1 && str.match(/[a-z]/i);

}
</script>



<script>
isOnMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent); 
//if not on mobile, allow the user to use the keyboard. only click non-tried letters 
if (!isOnMobile) {

  document.addEventListener('keydown', function(event) {
  letter = String.fromCharCode(event.keyCode).toUpperCase();	
  letters_guessed = {{ letters_guessed | tojson }};
  


  //if letters_guessed does not contain the letter, then create a hidden form and submit it
  if (!letters_guessed.includes(letter) && isLetter(letter)) {
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "{{ url_for('game') }}");

    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "letter");
    hiddenField.setAttribute("value", letter);

    var csrfField = document.createElement("input");
    csrfField.setAttribute("type", "hidden");
    csrfField.setAttribute("name", "csrf_token");
    csrfField.setAttribute("value", "{{ csrf_token() }}");

    form.appendChild(hiddenField);
    form.appendChild(csrfField);

    document.body.appendChild(form);
    

    form.submit();
    
    setTimeout(function(){ location.reload(); }, 1000);

  }
  });

}


</script>

<style>
  /* Add CSS styles for mobile devices */
  #game-form-Big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  #game-form-Big button {
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 18px;
  }
</style>

{% if dark_mode %}
<style>
  /* Add CSS styles for dark mode */
  html {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  .btn {
    filter: none;
    -webkit-filter: none;
  }
  img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  svg {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  .username, .score-board h3 {
    color: gold;
  }
</style>
{% endif %}

{% endblock %}
