{% extends 'scripts.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="{{ user_language }}">
<head>
  <title>Hangman Game</title>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2749310903595106"
     crossorigin="anonymous"></script>
     
     
<script>
window.clarity("identify", "{{ username }}")
</script>


</head>
<body>
  <table class="header">
    <tr>
      <td class="username">{{ username }}</td>
      <td class="login-logout"><button onclick="location.href='{{ url_for('logout') }}'">Logout</button></td> 

      
      
      <td class="language_switcher">
        <p>Change language:</p>
        <form method="post" id="language-form" action="{{ url_for('set_language') }}">
          <select name="language" onchange="verify_selection();">
            {% for language in all_languages %}
              <option value="{{ language }}" {% if language == user_language %}selected{% endif %}>{{ language }}
              </option>
            {% endfor %}
          </select>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
      </td>

    
      <td class="user_language">Your selected language: <br><img src="https://flagsapi.com/{{user_language| replace('en','GB') | upper}}/shiny/64.png"> 
    
    {% if user_language == 'en' %}
    <img src="https://flagsapi.com/US/shiny/64.png">
    {% endif %}
    </td>

    <td class="toggle_dark_mode">
        <form action="{{ url_for('dark_mode') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% if dark_mode %}
        <button type="submit" name="dark_mode" value="dark_mode">Light Mode</button>
        {% else %}
        <button type="submit" name="dark_mode" value="dark_mode">Dark Mode</button>
        {% endif %}
        </form>
    </td>

 


    </tr>
  </table>

  <div class="game-area">
    <table class="hangman-table">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>
          {{ drawing | safe }}
          <br>
  
          {% for letter in word %}
            {{ letter if letter in letters_guessed else '_' }}
          {% endfor %}
        </td>
        <td>
          <form method="post" id="game-form-Big">
            {% for letter in letters %}
              {% if letter | lower not in letters_guessed %}
                <button type="submit" name="letter" value="{{ letter }}" style="color: black;">{{ letter }}</button>
              {% else %}
              
                {% if letter | lower  in word | lower and letter | lower in letters_guessed %} <!-- if the letter is in the word and has been guessed -->
                  <button type="submit" name="letter" value="{{ letter }}" disabled class="btn btn-success disabled" onclick="return false;">{{ letter }} </button>
                {% elif letter |lower not in word | lower and letter | lower in letters_guessed %}
                  <button type="submit" name="letter" value="{{ letter }}" class="btn btn-danger disabled" disabled>{{ letter }}</button>
                {% else %}
                  <button type="submit" name="letter" value="{{ letter }}" disabled>{{ letter }}</button>
                {% endif %}
              {% endif %}
            {% endfor %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          </form>
        </td>
      </tr>
    </table>
  </div>
  
  

  <table class="score-board">
    <tr>
      <th>Score: {% for name in leaderboard %}
        {% if name.username == username %}
          {{ name.score }}
        {% endif %}
      {% endfor %}</th>
    </tr>
    <tr>
      <td></td>
    </tr>
  </table>

  <div class="leaderboard">
    <h2>Leaderboard</h2>
    <table>
      <tr>
        <th>Username</th>
        <th>Score</th>
      </tr>
      {% for user in leaderboard %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.score }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>


<script>
    const username = "{{ username }}";
    //make the username in a golden color inside the leaderboard
    var leaderboard = document.getElementsByClassName("leaderboard")[0];
    var table = leaderboard.getElementsByTagName("table")[0];
    var rows = table.getElementsByTagName("tr");
    for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        var cols = row.getElementsByTagName("td");
        for (var j = 0; j < cols.length; j++) {
            var col = cols[j];
            if (col.innerHTML === username) {

              
                col.style.color = "gold";
                {% if dark_mode %}
                col.style.color = "blue";
                {% endif %}
            }
        }
    }

</script>

<style>
  /* Add CSS styles for mobile devices */
  #game-form-Big {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  #game-form-Big button {
    width: 45px;
    height: 45px;
    margin: 5px;
    font-size: 18px;
  }
</style>
<br \>
<a href="#" id="open_preferences_center">Cookie-Einstellungen</a>
</body>
</html>


<script>
  function verify_selection() {

    //ask the user if he is sure to change the language, because the game will be restarted and the progress will be lost
    var r = confirm("Are you sure you want to change the language? The game will be restarted and your progress will be lost.");
    if (r == true) {
      document.getElementById("language-form").submit();
    } else {
    document.getElementById("language-form").reset();
    }



  }
</script>





{% if dark_mode %}

<style>

@media (prefers-color-scheme: dark) {
  html { filter: invert(100%); }
  img { filter: invert(100%); }
  



}

</style>

{% endif %}




{% endblock %}