<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../hangman/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="../../hangman/css/Raleway.css" type="text/css" />
<title>Congrats</title>
</head>

<body>
	<!--{% if not username %}-->
	<h1>Hello, new user</h1>
	<!--{% else %}-->
	<h1>Hello, {{username | capitalize }}</h1>
	
	<div class="container">
		<!--{% if not username or not email or not password%}-->
		<form class="form form-control " method="post">
			<!--{% else %}-->
			<form class="form form-control" method="post" action="{{ url_for('register') }}">
				<!--{% endif%}-->
			
				
			<!--{% if not username %}-->
			<br />
			<input type="text" placeholder="your nickname" width="100%" name="username" autocomplete="1" class="form-control shadow-sm" required="">
			<!--{% elif not email %}-->
			
			<input type="email" name="email" value="" placeholder="mail@example.com" class="form-control shadow-sm" required="">
			<!--{% elif not password %}-->
			
			<input type="password" name="password" value="" placeholder="create a password" class="form-control shadow-sm" required="">
			
			<input type="password" name="password2" value="" placeholder="confirm your password" class="form-control shadow-sm" required="">
			<!--{% endif %}-->
			
			<input type="hidden" value="{{csrf_token()}} name="csrf_token">
			
			<input type="submit" class="btn btn-primary shadow" role="button" value="continue">
		</form>
		
	</div>
	
	
</body>
</html>